<div class="min-h-screen px-16 py-8 relative overscroll-none">
  <div class="absolute inset-0 bg-black">
    <div class="scene">
      <div class="cube-grid">
        @for (i of cubesArr; track $index) {
        <div #cubes class="cube">
          <div class="cube__face cube__face--front"></div>
          <div class="cube__face cube__face--back"></div>
          <div class="cube__face cube__face--right"></div>
          <div class="cube__face cube__face--left"></div>
          <div class="cube__face cube__face--top"></div>
          <div class="cube__face cube__face--bottom"></div>
        </div>
        }
      </div>
    </div>
  </div>
  <div class="relative z-10">
    <app-contact-links></app-contact-links>
    <div class="mb-16">
      <app-about-me></app-about-me>
    </div>
    <app-blog-posts></app-blog-posts>
    <app-projects></app-projects>
  </div>
</div>
